.row {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.table-container {

}

table {
  width: 300px;
}

.champ-img {
  width: 30%;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

img {
  width: 100%;

}
